.ViewerTableRow {
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(240, 240, 245);
  display: flex;
}

.ViewerTableRow.hovered {
  background: rgba(0, 0, 0, 0.04);
}

.ViewerTableRow.selected .ViewerTableRow-name {
  font-weight: 600;
}

.ViewerTableRow-left {
  margin-right: 10px;
}

.ViewerTableRow-no-map {
  font-style: italic;
}

.ViewerTableRow-date, .ViewerTableRow-stat {
  color: #999;
  display: inline-block;
  margin-right: 11px;
}

.ViewerTableRow-date {
  width: 110px;
}

.ViewerTableRow-stat {
  width: 50px;
  text-align: right;
}

.ViewerTableRow-unit {
  display: inline;
  font-size: 11px;
}

.ViewerTableRow-strava-link {
  visibility: hidden;
  margin-left: 10px;
}

.ViewerTableRow.hovered .ViewerTableRow-strava-link{
  visibility: visible;
}

.ViewerTableRow-strava-link-img {
  height: 14px;
}
