.Viewer {
  display: flex;
  height: 100%;
}

.Viewer-left {
  flex-grow: 1;
}

.Viewer-right {
  max-width: 30vw;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
}

.Viewer-controls {
  padding: 10px 15px;
  border-top: 1px solid rgb(240, 240, 245);
}

.Viewer-strava-atlas {
  font-weight: 900;
  font-style: italic;
}

.Viewer-loading-progress {
  font-weight: 600;
}
