.Viewer {
  display: flex;
  height: 100%;
}

.Viewer-left {
  flex-grow: 1;
}

.Viewer-right {
  max-width: 30vw;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait) {
  .Viewer {
    flex-direction: column;
  }

  .Viewer-right {
    max-width: none;
    min-width: none;
    max-height: 40vh;
  }
}

.Viewer-controls {
  padding: 10px 15px;
  border-top: 1px solid rgb(240, 240, 245);
}

.Viewer-strava-atlas {
  font-weight: 900;
  font-style: italic;
}

.Viewer-loading-progress {
  font-weight: 600;
}

.Viewer-advanced-details[open] {
  margin-top: 10px;
}

.Viewer-advanced-controls {
  padding-left: 15px;
}
